.contenedor-iconos-skills {
  display: flex;
  color: #fff;
  background-color: rgba(231, 175, 193, 0.41);
  margin: 2vw 0.5vw;
  padding: 0 1vw;
  transition: transform .3s;
  cursor: pointer;
}
.skill {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1vw;
  padding: 10px;
  text-shadow: 0.5px 0.5px 0.5px black;
}

.check {
  font-size: 1.5vw;
  margin: 10px;
  color: #8AEFA3;
}

/*ANIMACION TECNOS*/
.contenedor-iconos-skills:hover {
  transform: scale(1.1);
}